body {
  font-family: sans-serif;
}

.dp-month-dates {
  display: grid;
  grid-template-columns: repeat(7, 3rem);
}
.dp-day {
  text-align: center;
}
.dp-date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 1.5rem;
  margin: 0.3rem;
  text-align: center;
  cursor: pointer;
}

.dp-date.selected {
  border-color: #ff0000;
}

.dp-datepicker {
  display: none;
  max-width: 450px;
}
.dp-datepicker.active {
  display: block;
}
